@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

body {
  background: url(img/form.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-container {
  display: flex;
  justify-content: center;
}

#c1 {
  background: pink;
  margin: 10px -10px 10px 10px;
  padding: 0px;
  font-size: 30px;
  width: 30%;
  height: 80vh;
  position: relative;
  color: #3d2c46;
}

#c1 h3 {
  padding: 15px 1px 1px 20px;
  font-size: 33px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

#c1 h5 {
  padding: 1px 1px 55px 20px;
  font-size: 18px;
  font-weight: 570;
  font-family: "Cormorant Garamond", serif;
}

#c1 p {
  margin: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
  font-weight: 800;
}

#c1 p:hover {
  color: rgb(218, 6, 94);
}
.quarter-circle-bottom-right {
  width: 200px;
  height: 200px;
  background: #3d2c46;
  border-radius: 200px 0 0 0;
  -moz-border-radius: 200px 0 0 0;
  -webkit-border-radius: 200px 0 0 0;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.second_circle {
  width: 100px;
  height: 100px;
  background-color: rgba(218, 6, 94, 0.7);
  border-radius: 50px;
  position: absolute;
  top: 75%;
  right: 30%;

  animation-name: sc;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes sc {
  0% {
    background-color: rgba(218, 6, 94, 0.7);
    right: 30%;
    top: 75%;
  }
  25% {
    background-color: rgba(218, 6, 94, 0.7);
    right: 36%;
    top: 69%;
  }
}
#c2 {
  background-color: #fff;
  margin: 10px 10px 0px 10px;
  font-size: 30px;
  width: 50%;
  height: 80vh;
  padding: 40px 40px 10px 60px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
  padding: 10px 10px 20px 10px;
  border: 0;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 17px;
  margin-right: 40px;
  border-radius: 10px;
  font-size: 23px;
}
/*select {
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-size: 20px;
}*/

.container {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  font-size: 20px;
}

label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
}
label span {
  position: relative;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  transition: 0.4s;
  padding: 0 15px;
  height: 46px;
  color: #414141;
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
  column-gap: 7px;
}
label span .icon {
  font-size: 10px;
}
label input {
  pointer-events: none;
  display: none;
}
label input:checked + span {
  border-color: rgba(218, 6, 94, 0.7);
  color: rgba(218, 6, 94, 0.7);
}
#what {
  color: #3d2c46;
  margin-top: 20px;
}
#whatdesc {
  color: #3d2c46;
  font-size: 15px;
}

#submit {
  padding: 10px 20px 10px 20px;
  background-color: #3d2c46;
  color: white;
  border-radius: 5px;
  font-size: smaller;
  margin-left: 75%;
  margin-top: 4%;
  transition: 0.4s;
}

#submit:hover {
  background-color: gba(218, 6, 94, 0.7);
}
