ul {
  list-style-type: none;
  margin: 0;
  padding-left: 15px;
  align-items: center;
}
ul li {
  width: 30px;
  height: 30px;
  text-align: center;
  transition: 0.5s;
  margin: 1em;
  float: left;
}
ul li a {
  display: block;
}
ul li:hover {
  color: rgb(218, 6, 94);
}
