.choice-container {
  position: relative;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.choice-img1 {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-image: url(../img/choice-img1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 18%;
  left: 34%;
}
.choice-img2 {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: url(../img/choice-img2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 7%;
  left: 15%;
}

.choice-img3 {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: url(../img/choice-img3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 37%;
  left: 60%;
}
